workflows/kyoen-event-detect.json
{
  "name": "KYOEN Event Detect",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyoen-line-in"
      },
      "id": "webhook",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "kyoen-line-in",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Extract: date/time/title/ZoomURL\nconst events = $input.item.json.events;\nconst event = events[0];\nconst message = event.message.text;\n\n// Date patterns\nconst dateMatch1 = message.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\nconst dateMatch2 = message.match(/(\\d{1,2})\\/(\\d{1,2})/);\nconst timeMatch = message.match(/(\\d{1,2}):(\\d{2})(?:\\s*-\\s*(\\d{1,2}):(\\d{2}))?/);\nconst zoomMatch = message.match(/(https?:\\/\\/(?:[^\\s]+)?zoom\\.us\\/[^\\s?]+\\?pwd=[^\\s]+)/);\n\nlet dateStr = null;\nif (dateMatch1) {\n  dateStr = `${dateMatch1[1]}-${dateMatch1[2]}-${dateMatch1[3]}`;\n} else if (dateMatch2) {\n  const year = new Date().getFullYear();\n  dateStr = `${year}-${dateMatch2[1].padStart(2, '0')}-${dateMatch2[2].padStart(2, '0')}`;\n}\n\nlet timeStr = '00:00';\nif (timeMatch) {\n  timeStr = timeMatch[0];\n}\n\nconst title = message.split('\\n')[0].trim();\nconst zoomUrl = zoomMatch ? zoomMatch[0] : null;\n\nconst startAt = dateStr ? `${dateStr}T${timeStr}:00+09:00` : null;\n\nreturn {\n  title, startAt, zoomUrl, message, replyToken: event.replyToken\n};"
      },
      "id": "extract",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "${\"https://nrbserphtykbhwdowfsz.supabase.co\"}/rest/v1/tokunoshima_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yYnNlcnBodHlrYmh3ZG93ZnN6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDQ3MjU3MSwiZXhwIjoyMDc2MDQ4NTcxfQ.RJz5YJ0lmR_raX_glkncd-h_z9r2qRy7yPRUTJz2T90"
            },
            {
              "name": "Authorization",
              "value": "Bearer${\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yYnNlcnBodHlrYmh3ZG93ZnN6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDQ3MjU3MSwiZXhwIjoyMDc2MDQ4NTcxfQ.RJz5YJ0lmR_raX_glkncd-h_z9r2qRy7yPRUTJz2T90\"}"
            },
            {
              "name": "Prefer",
              "value": "return=representation,resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"title\":\"={{ $json.title }}\",\"start_at\":\"={{ $json.startAt }}\",\"zoom_url\":\"={{ $json.zoomUrl }}\",\"created_by\":\"tokunoshima\"}"
      },
      "id": "upsert",
      "name": "Upsert Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer jffJiSAr5f/YtAthi/rcB3zwP0rew1y8OXPiJH3BSNd31oxheNvg1wT1VaTM7KorLFINWDWwelf1Hx7ptKEd8a9U5clDDerK8shFJtKp1bwCt8BNQhuB5m8LSGKsUhfIX+DX+gXY0kiBhMAXWdW70AdB04t89/1O/w1cDnyilFU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"replyToken\":\"={{ $json.replyToken }}\",\"messages\":[{\"type\":\"flex\",\"altText\":\"={{ $(\\\"Extract Data\\\").item.json.title }}\",\"contents\":{\"type\":\"bubble\",\"body\":{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"text\",\"text\":\"={{ $(\\\"Extract Data\\\").item.json.title }}\",\"weight\":\"bold\"},{\"type\":\"text\",\"text\":\"={{ $(\\\"Extract Data\\\").item.json.startAt }}\"}]},\"footer\":{\"type\":\"box\",\"layout\":\"horizontal\",\"contents\":[{\"type\":\"button\",\"action\":{\"type\":\"postback\",\"data\":\"going:=${{$json.id}}\",\"label\":\"参加する\"}},{\"type\":\"button\",\"action\":{\"type\":\"postback\",\"data\":\"maybe:=${{$json.id}}\",\"label\":\"検討中\"}},{\"type\":\"button\",\"action\":{\"type\":\"postback\",\"data\":\"mute:=${{$json.id}}\",\"label\":\"聞かせて\"}}]}}}]}"
      },
      "id": "reply",
      "name": "Reply Flex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "LINE Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Upsert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Event": {
      "main": [
        [
          {
            "node": "Reply Flex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": null
}