workflows/kyoen/KYOEN_RSVP_Collector.json
{
  "name": "KYOEN RSVP Collector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyoen-rsvp-collector",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "kyoen-rsvp-collector"
    },
    {
      "parameters": {
        "jsCode": "// Use signature verification code from common/code_verify_signature.md\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const t = ($json.events[0].message.text || '').trim();\nlet intent = 'other';\nif (/\/rsvp.*list|出席者一覧/.test(t)) intent = 'rsvp_list';\n$json.intent = intent;\nreturn $input.all();"
      },
      "id": "classify-intent",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_SB_URL }}/rest/v1/kyoen_events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,title,start_at"
              },
              {
                "name": "order",
                "value": "start_at.desc"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          }
        }
      },
      "id": "fetch-latest-event",
      "name": "Fetch Latest Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_SB_URL }}/rest/v1/kyoen_event_summary",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,title,start_at,location,going_count,not_going_count,maybe_count,total_responses"
              },
              {
                "name": "id",
                "value": "eq.{{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "fetch-rsvp-summary",
      "name": "Fetch RSVP Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $json;\nconst total = summary.total_responses || 0;\nconst going = summary.going_count || 0;\nconst maybe = summary.maybe_count || 0;\nconst notGoing = summary.not_going_count || 0;\nconst goingPercent = total > 0 ? Math.round((going / total) * 100) : 0;\n\n$json.flex_message = {\n  type: 'flex',\n  altText: `${summary.title} - 出席者一覧`,\n  contents: {\n    type: 'bubble',\n    header: {\n      type: 'box',\n      layout: 'vertical',\n      contents: [\n        {\n          type: 'text',\n          text: summary.title,\n          weight: 'bold',\n          size: 'xl',\n          wrap: true\n        },\n        {\n          type: 'text',\n          text: summary.start_at,\n          size: 'sm',\n          color: '#666666',\n          margin: 'md'\n        }\n      ]\n    },\n    body: {\n      type: 'box',\n      layout: 'vertical',\n      contents: [\n        {\n          type: 'separator',\n          margin: 'md'\n        },\n        {\n          type: 'text',\n          text: '参加状況',\n          weight: 'bold',\n          size: 'md',\n          margin: 'md'\n        },\n        {\n          type: 'box',\n          layout: 'vertical',\n          spacing: 'sm',\n          margin: 'md',\n          contents: [\n            {\n              type: 'box',\n              layout: 'horizontal',\n              contents: [\n                { type: 'text', text: '参加', size: 'sm', flex: 1 },\n                { type: 'text', text: `${going}名 (${goingPercent}%)`, size: 'sm', color: '#00C300', flex: 2, align: 'end' }\n              ]\n            },\n            {\n              type: 'box',\n              layout: 'horizontal',\n              contents: [\n                { type: 'text', text: '検討中', size: 'sm', flex: 1 },\n                { type: 'text', text: `${maybe}名`, size: 'sm', flex: 2, align: 'end' }\n              ]\n            },\n            {\n              type: 'box',\n              layout: 'horizontal',\n              contents: [\n                { type: 'text', text: '不参加', size: 'sm', flex: 1 },\n                { type: 'text', text: `${notGoing}名`, size: 'sm', flex: 2, align: 'end' }\n              ]\n            },\n            {\n              type: 'separator',\n              margin: 'md'\n            },\n            {\n              type: 'text',\n              text: `合計: ${total}名`,\n              weight: 'bold',\n              size: 'sm',\n              margin: 'md'\n            }\n          ]\n        }\n      ]\n    }\n  }\n};\n\nreturn $input.all();"
      },
      "id": "generate-flex",
      "name": "Generate Flex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "line",
        "bodyParameters": {
          "parameters": [
            {
              "name": "replyToken",
              "value": "={{ $('Webhook Trigger').item.json.events[0].replyToken }}"
            },
            {
              "name": "messages",
              "value": "={{ [$json.flex_message] }}"
            }
          ]
        }
      },
      "id": "push-flex",
      "name": "Push Flex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 300],
      "credentials": {
        "line": {
          "id": "1",
          "name": "LINE API"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Fetch Latest Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Latest Event": {
      "main": [
        [
          {
            "node": "Fetch RSVP Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSVP Summary": {
      "main": [
        [
          {
            "node": "Generate Flex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Flex": {
      "main": [
        [
          {
            "node": "Push Flex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "1"
}
