workflows/kyoen/KYOEN_RSVP.json
{
  "name": "KYOEN RSVP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyoen-rsvp",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "kyoen-rsvp"
    },
    {
      "parameters": {
        "jsCode": "// Use signature verification code from common/code_verify_signature.md\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-postback",
              "name": "event_id",
              "value": "={{ $json.events[0].postback.data.split(':')[2] }}",
              "type": "string"
            },
            {
              "id": "extract-status",
              "name": "status",
              "value": "={{ $json.events[0].postback.data.split(':')[1] }}",
              "type": "string"
            },
            {
              "id": "extract-user",
              "name": "user_id",
              "value": "={{ $json.events[0].source.userId }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_SB_URL }}/rest/v1/kyoen_rsvp",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "on_conflict",
                "value": "event_id,user_id"
              }
            ]
          }
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_id",
              "value": "={{ $json.event_id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "ts",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "save-rsvp",
      "name": "Save RSVP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "load-flex",
              "name": "flex_message",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "load-flex-template",
      "name": "Load Flex Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "line",
        "bodyParameters": {
          "parameters": [
            {
              "name": "replyToken",
              "value": "={{ $('Webhook Trigger').item.json.events[0].replyToken }}"
            },
            {
              "name": "messages",
              "value": "={{ [$json.flex_message] }}"
            }
          ]
        }
      },
      "id": "push-confirm",
      "name": "Push Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "credentials": {
        "line": {
          "id": "1",
          "name": "LINE API"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Save RSVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save RSVP": {
      "main": [
        [
          {
            "node": "Load Flex Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Flex Template": {
      "main": [
        [
          {
            "node": "Push Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "1"
}
