workflows/kyoen/KYOEN_Reminders.json
{
  "name": "KYOEN Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-hourly",
      "name": "Cron Hourly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_SB_URL }}/rest/v1/kyoen_events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,title,start_at,zoom_url,location"
              },
              {
                "name": "start_at",
                "value": "gte.{{ $now }}"
              },
              {
                "name": "order",
                "value": "start_at.asc"
              }
            ]
          }
        }
      },
      "id": "fetch-upcoming",
      "name": "Fetch Upcoming",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst now = new Date();\nconst reminders = [];\n\nfor (const item of events) {\n  const event = item.json;\n  const startAt = new Date(event.start_at);\n  const diffMs = startAt - now;\n  const diffHours = diffMs / (1000 * 60 * 60);\n  const diffMinutes = diffMs / (1000 * 60);\n  \n  // Check for 24h, 1h, 5m reminders\n  if ((diffHours >= 23.5 && diffHours <= 24.5) ||\n      (diffHours >= 0.9 && diffHours <= 1.1) ||\n      (diffMinutes >= 4 && diffMinutes <= 6)) {\n    reminders.push(event);\n  }\n}\n\nreturn reminders.map(r => ({ json: r }));"
      },
      "id": "filter-reminder-time",
      "name": "Filter Reminder Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_SB_URL }}/rest/v1/kyoen_rsvp",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "user_id"
              },
              {
                "name": "event_id",
                "value": "eq.{{ $json.id }}"
              },
              {
                "name": "status",
                "value": "eq.going"
              }
            ]
          }
        }
      },
      "id": "fetch-going-users",
      "name": "Fetch Going Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event = $('Filter Reminder Time').item.json;\nconst users = $input.all().map(i => i.json.user_id);\nconst results = [];\n\nfor (const userId of users) {\n  results.push({\n    json: {\n      to: userId,\n      event_id: event.id,\n      title: event.title,\n      start_at: event.start_at,\n      zoom_url: event.zoom_url,\n      location: event.location\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-dm",
      "name": "Prepare DM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "line",
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "messages",
              "value": "={{ [{\n  \"type\": \"text\",\n  \"text\": `あと10分で開始: {{ $json.title }}\\n場所: {{ $json.location }}`\n}] }}"
            }
          ]
        }
      },
      "id": "send-dm",
      "name": "Send DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "credentials": {
        "line": {
          "id": "1",
          "name": "LINE API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-meeting-end",
              "leftValue": "={{ $json.start_at }}",
              "rightValue": "={{ $now.minus({minutes: 30}) }}",
              "operator": {
                "type": "date",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-meeting-end",
      "name": "Check Meeting End",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "load-recap",
              "name": "flex_message",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "load-recap-template",
      "name": "Load Recap Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "line",
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Prepare DM').item.json.to }}"
            },
            {
              "name": "messages",
              "value": "={{ [$json.flex_message] }}"
            }
          ]
        }
      },
      "id": "send-recap-draft",
      "name": "Send Recap Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300],
      "credentials": {
        "line": {
          "id": "1",
          "name": "LINE API"
        }
      }
    }
  ],
  "connections": {
    "Cron Hourly": {
      "main": [
        [
          {
            "node": "Fetch Upcoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Upcoming": {
      "main": [
        [
          {
            "node": "Filter Reminder Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Reminder Time": {
      "main": [
        [
          {
            "node": "Fetch Going Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Going Users": {
      "main": [
        [
          {
            "node": "Prepare DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DM": {
      "main": [
        [
          {
            "node": "Send DM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Meeting End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Meeting End": {
      "main": [
        [
          {
            "node": "Load Recap Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Recap Template": {
      "main": [
        [
          {
            "node": "Send Recap Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "1"
}
